<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile | Hello Books</title>
    <meta name="description" content="Hello World">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/stylesheets/style.css"/>

</head>

<body>

<header>
    <div class="jumbotron">
        <div class="container">
            <h1>Profile</h1>
        </div>
    </div>
</header>

<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="index.html" class="navbar-brand">HELLO BOOKS</a>
            </div><!-- Navbar Header-->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="catalog.html">Catalogue</a>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="borrowed_books.html">Borrowed Books</a></li>
                            <li><a href="history.html">History</a></li>
                            <li><a href="profile.html">Account</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- End Container-->
    </nav><!-- End navbar -->

    <div class="row">
        <div class="col-sm-3">
            <div class="profile_picture">
                <img src="assets/images/user_profile.jpg" class="img-responsive" alt="Profile Image">
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" class="form-control" name="profile" required>
                </div>
                <button class="btn btn-primary">Upload</button>
            </form>
        </div>
        <div class="col-sm-8">
            <fieldset>
                <legend>Personal Information</legend>
                <form method="post">
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <label>First Name *</label>
                            <input class="form-control" name="first_name" placeholder="First Name"
                                   value="John" required>
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Middle Name</label>
                            <input class="form-control" name="middle_name" placeholder="Middle Name">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label>Surname *</label>
                            <input class="form-control" name="surname" placeholder="Surname"
                                   value="Doe" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email Address *</label>
                        <input type="email" class="form-control" name="email"
                               placeholder="Email Address" value="john.doe@testserver.com" required>
                    </div>
                    <div class="form-group">
                        <label>Home Address</label>
                        <textarea class="form-control" name="address" placeholder="Home Address"
                                  rows="3" required>123 Bank Olemo Road, Surulere, Lagos
                        </textarea>
                    </div>
                    <button class="btn btn-primary">Save</button>
                </form>
                <hr/>
            </fieldset>

            <fieldset>
                <legend>Change Password</legend>
                <div class="row">
                    <div class="col-lg-6">
                        <form method="post">
                            <div class="form-group">
                                <label>Old Password</label>
                                <input type="password" class="form-control" name="old_password"
                                       placeholder="Old Password" required>
                            </div>
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control" name="new_password"
                                       placeholder="New Password" required>
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" name="confirm_new_password"
                                       placeholder="Confirm New Password" required>
                            </div>
                            <button class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </fieldset>
        </div>

    </div><!-- End row -->
</div>


<footer>
    <div class="container">
        <hr>

        <p>
            <small><h3>© 2017 Hello Books. Enlighten You</h3></small>
        </p>
        </p>
    </div> <!-- end container -->
</footer>

<!-- Latest compiled and minified JavaScript -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>